<!DOCTYPE html>
<html lang="en">
<head>
<script src="/socket.io/socket.io.js" defer></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
<script src="firebase_config.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Main Page</title>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        row-gap:10px;
    }

    h1{
        text-align:center
    }

    button {
      background-color: rgb(227, 142, 227);
      color: white;
      padding: 10px 20px;
      margin-right: 50px;
      font-size:medium;
      border-radius: 10px;
    }

    #video-grid {
      background-color:black;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 10px;
      flex: 1;
    }

    video {
      transform: scaleX(-1);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h {
        font-size:20px;
    }
    #room-link{
      padding: 10px 20px;
      margin-right: 10px;
    }

    .video-and-instructions {
      display: flex;
      flex-direction: row;
    }

    .instructions-section {
      padding-left: 20px;
      align-self: center;
      /* Add any other styles you need for the instructions */
    }

    .button-container {
      display: flex;
      justify-content: space-between;  /* or space-around, or center; depending on desired spacing */
      align-items: center;
    }

</style>
</head>
<body>

  <h1>Welcome to FIT</h1>

  <div class="video-and-instructions">
    <div id="video-grid"></div>
    <div class="instructions-section">
      <h2>Instructions</h2>
      <p>Your four-sentence paragraph goes here.</p>
      <p>This is the second sentence.</p>
      <p>This is the third sentence.</p>
      <p>This is the fourth sentence.</p>
    </div>
  </div>


  <button id="enterRoomButton" onclick="checkGroupRoom()">Enter Room</button>

  <div id="joining" style="display: none;">
    <p>Your partner is waiting in the room.</p>
  </div>
  
</body>
<script src="index.js"></script>
</html>

