<!DOCTYPE html>
<html lang="en">
<head>
<script src="/socket.io/socket.io.js" defer></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Main Page</title>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        row-gap:10px;
    }

    h1{
        text-align:center
    }

    button {
      background-color: rgb(227, 142, 227);
      color: white;
      padding: 10px 20px;
      margin-right: 50px;
      font-size:medium;
      border-radius: 10px;
    }

    #video-grid {
      background-color:black;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 10px;
    }

    video {
      transform: scaleX(-1);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h {
        font-size:20px;
    }
    #room-link{
      padding: 10px 20px;
      margin-right: 10px;
    }
</style>
</head>
<body>
  <h1>Welcome to FIT</h1>

  <div id="video-grid"></div>

  <form action="/create" method="get">
    <button type="submit">Create New Room</button>
  </form>

  <div id="joining">
  <h>Join Meeting Room: <input type="text" id="room-link" placeholder="Enter the room link"><button onclick="goToRoom()">Go to Room</button></h>
  </div>
  <script src="index.js"></script>
</body>
</html>
