<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
  <script src="firebase_config.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #eee;
    }

    .login-box {
      display: flex;
      width: 44vw;
      height: 60vh;
      padding: 20px;
      border-radius: 1.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }

    .login-title {
      color: #000;
      font-family: Montserrat;
      font-size: 3rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 1rem;
    }

    .login-box-content {
      width: 80%;
      height: 80%;
    }

    .login-input:focus {
      outline: none; /* Removes the default outline */
      border: 0px solid #ccc;
      border-bottom: 1.5px solid #675fd4;
    }

    .login-input {
      border: 0px solid #ccc;
      border-bottom: 1.5px solid #000;
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 8px;
    }

    .login-button {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background-color: #6794e9;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin-top: 2rem;
    }
  </style>
</head>
<body>
  <div class="login-box">
    <div class="login-box-content">
      <p class="login-title">Login</p>
      <form action="/" method="post">
        <!-- Hidden input to store the password from the server -->
        <input type="hidden" id="serverPassword" name="serverPassword" value="<%= password %>">
        <input type="hidden" id="serverEmail" name="serverEmail" value="<%= email %>">

        <!-- Call the checkCurrentUserURL function with the password from the server -->
        <script>
          var passwordFromServer = document.getElementById('serverPassword').value;
          var emailFromServer = document.getElementById('serverEmail').value;
          connectToFirebase(emailFromServer, passwordFromServer);
        </script>

        <!-- Your form elements, including the password input -->
        <!-- <label for="username">Username:</label> -->
        <input type="text" id="username" name="username" class="login-input" placeholder="username" required>

        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password" name="password" class="login-input" placeholder="password" required>

        <button type="button" class="login-button" onclick="submitLoginForm()">Login</button>
      </form>
    </div>
  </div>
</body>
<script src="login.js"></script>
</html>
