<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      background-color: black;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fill, 400px);
      grid-auto-rows: 300px;
      gap: 10px;
      align-content: center; /* Align videos vertically in the center */
    }

    video {
      transform: scaleX(-1);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }

    /* CSS styles */
    button {
      background-color: rgb(227, 142, 227);
      color: white;
      padding: 10px 20px;
      margin-right: 50px;
      font-size:medium;
    }


  </style>
</head>
<body>

  <div id="video-grid"></div>
  <div class="container">
  <button id="MarkButton">Mark Critical Moment</button>
  <button id="copyButton">Copy Invite Link</button>
  <button id="leaveCallButton">Leave Call</button>
  </div>
</body>
</html>