<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="room.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      background-color: black;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fill, 450px);
      grid-auto-rows: 300px;
      gap: 10px;
    }

    video {
      transform: scaleX(-1);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }

    button {
      background-color: rgb(227, 142, 227);
      color: white;
      padding: 10px 20px;
      margin-right: 50px;
      font-size:medium;
      border-radius: 10px;
    }

    .main-button {
    position: relative;
    display: inline-block;
    background-color: rgb(227, 142, 227);
    color: white;
    padding: 10px 20px;
    margin-right: 50px;
    font-size:medium;
    border-radius: 10px;
    cursor: pointer;
    }

    .hidden-buttons {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }

    .main-button:hover .hidden-buttons {
      display: block;
    }

    .hidden-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #F0F0F0;
      color: #000000;
      border: none;
      cursor: pointer;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }

    /* Optional: Add background color and center text in header cells */
    th {
      background-color: #f2f2f2;
      text-align: center;
    }

  </style>
</head>
<body>
  <div id="video-grid"></div>

  <div id="device adjust">
    <!--mute-->
    <label>
      <input type="checkbox" id="toggle-mic" checked>
      <span>Microphone</span>
    </label>
      <!-- Audio Device Dropdown -->
    <label for="audio-device-dropdown"></label>
    <select id="audio-device-dropdown">
      <option value="" selected disabled></option>
    </select>
    <!--turn off camera-->
    <label>
      <input type="checkbox" id="toggle-camera" checked>
      <span>Camera</span>
    </label>
    <!-- Video Device Dropdown -->
    <label for="video-device-dropdown"></label>
    <select id="video-device-dropdown">
      <option value="" selected disabled></option>
    </select>
  </div>

  <div class="container">
    <div class="main-button" onmouseover="showButtons()" onmouseout="hideButtons()">
      Mark Critical Moment
      <div class="hidden-buttons">
        <button class="hidden-button">Button 1</button>
        <button class="hidden-button">Button 2</button>
        <button class="hidden-button">Button 3</button>
      </div>
    </div>
    <button id="copyButton">Copy Invite Link</button>
    <button id="leaveCallButton">Leave Call</button>
  </div>
  <% if (userRole==null) { %>
  <div id="chat-box"></div>

  <div id="chat-input">
    <input type="text" id="message" placeholder="Type your message...">
    <button id="send-button">Send</button>
  </div>
  <% } %>

  <% if (userRole!=null&&userRole.toLowerCase() === 'researcher') { %>
    <div class="researcher-table">
      <h2>Marking Table</h2>
      <table>
        <tr>
          <th>Time</th>
          <th>Researcher</th>
          <th>Comment</th>
        </tr>
          <tr>
            <td>2</td>
            <td><%= userName %></td>
            <td>2</td>
          </tr>
      </table>
    </div>
  <% } %>

</body>
</html>
