<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      background-color: black;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fill, 400px);
      grid-auto-rows: 300px;
      gap: 10px;
    }

    video {
      transform: scaleX(-1);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }

    /* CSS styles */
    button {
      background-color: rgb(227, 142, 227);
      color: white;
      padding: 10px 20px;
      margin-right: 50px;
      font-size:medium;
      border-radius: 10px;
    }

    #dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }


  </style>
</head>
<body>

  <div id="video-grid"></div>
  <div id="toggle-container">
    <label>
      <input type="checkbox" id="toggle-mic" checked>
      <span>Microphone</span>
    </label>
    <label>
      <input type="checkbox" id="toggle-camera" checked>
      <span>Camera</span>
    </label>
  </div>
  <div class="container">
  <button id="MarkButton">Mark Critical Moment</button>
  <button id="copyButton">Copy Invite Link</button>
  <button id="leaveCallButton">Leave Call</button>
  </div>
  <div id="dropdown">
    <!-- Audio Device Dropdown -->
  <label for="audio-device-dropdown">Select Audio Device:</label>
  <select id="audio-device-dropdown">
    <option value="" selected disabled>Choose Audio Device</option>
    <!-- Populate the options dynamically using JavaScript -->
  </select>

  <!-- Video Device Dropdown -->
  <label for="video-device-dropdown">Select Video Device:</label>
  <select id="video-device-dropdown">
    <option value="" selected disabled>Choose Video Device</option>
    <!-- Populate the options dynamically using JavaScript -->
  </select>
  </div>
</body>
</html>